:root {
	--primary-blue-pale: hsl(225, 100%, 94%);
	--primary-blue-bright: hsl(245, 75%, 52%);

	--neutral-blue-pale: hsl(225, 100%, 98%);
	--neutral-blue-desaturated: hsl(224, 23%, 55%);
	--neutral-blue-dark: hsl(223, 47%, 23%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--primary-blue-pale);
}

.project {
	position: relative;
	height: 100vh;
	display: flex;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	text-align: center;

	background: url(./images/pattern-background-desktop.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.card {
	background: white;
	width: 400px;
	margin: auto;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0px 25px 60px -30px var(--neutral-blue-desaturated);
}

.card-header img {
	height: auto;
	width: 100%;
}

.card-body_container {
	margin: 30px;
}

.card-title {
	color: var(--neutral-blue-dark);
	margin-top: 30px;
	font-size: 28px;
	font-weight: 900;
}

.card-description {
	color: var(--neutral-blue-desaturated);
	margin: 20px 0;
}

.card-plan {
	background: var(--neutral-blue-pale);
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
}

.card-plan img {
	margin-right: 20px;
}

.card-plan a {
	margin-left: auto;
}

.card-plan_description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card-plan_title {
	font-weight: 700;
}

.card-plan_price {
	color: var(--neutral-blue-desaturated);
	font-weight: 500;
}

.card-plan_change {
	justify-self: flex-end;
}

.card-submit {
	color: var(--neutral-blue-pale);
	background: var(--primary-blue-bright);
	width: 100%;
	margin-bottom: 30px;
	padding: 15px;
	font-weight: 700;
	border: none;
	border-radius: 10px;
	box-shadow: 0 2px 5px var(--neutral-blue-desaturated);
}

.card-cancel {
	text-decoration: none;
	font-weight: 700;
	color: var(--neutral-blue-desaturated);
}
